<div class="home-container p-4 bg-white">
  <!-- <h1 class="card-title task-title text-center">Welcome <%= current_user.prefix %> <%= current_user.last_name %>!</h1> -->
  <% if user_signed_in? %>
  <div class="justify-content-center">
    <h1 class="card-title text-center">My Conference Profile</h1>
    <p class="card-text text-center italic small-text"> Kindly review your profile for completeness and accuracy. This will be used for Book of Abstracts and Program Details. You may edit by clicking the button below.</p>
    <p class="card-text">Prefix: <%= current_user.prefix %></p>
    <p class="card-text">First Name: <%= current_user.first_name  %></p>
    <p class="card-text">Last Name: <%= current_user.last_name %></p>
    <p class="card-text">Suffix: <%= current_user.suffix %></p>
    <p class="card-text">Position: <%= current_user.position.humanize %></p>
    <p class="card-text">University, Institute or Company: <%= current_user.university_institute_company %></p>
    <p class="card-text">Department: <%= current_user.department %></p>
    <p class="card-text">City: <%= current_user.city %></p>
    <p class="card-text">Country: <%= current_user.country %></p>
    <p class="card-text">Contact Number: <%= current_user.contact_number %></p>

    <h3 class="card-title text-center">My ISVSP 2022 Participation</h3>
    <p class="card-text text-center italic small-text"> Conference fee depends on registration type, please edit accordingly or contact us for more details.</p>
    <p class="card-text">Registered as: <%= @participation.kind.humanize%></p>
    <p class="card-text">Fee: <%= @participation.fee %></p>
  </div>

  <div class="actions d-flex justify-content-center py-4">
    <%= link_to "Edit my conference profile details", edit_user_participation_path(@user, @participation.id), class: "btn btn-gray text-center" %>
  </div>
    <div class="table-container bg-white">
      <h3 class="text-center">My Abstracts: <%=@abstracts.count %></h3>
      <p class="card-text text-center italic small-text"> You may review each of your submitted abstracts by clicking on the title.</p>
      <table class="table table-hover table-responsive-md text">
        <thead class="text-gray text-center">
        <tr>
          <th scope="col">Title</th>
        </tr>
        </thead>
        <tbody>
          <% @abstracts.each do |abstract| %>
            <tr>
              <td class="text">
                <%= link_to abstract.title, user_participation_abstract_path(@user, @participation.id, abstract.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

