<div class="table-container p-4 bg-white">
  <h1>Welcome <%= current_user.prefix %> <%= current_user.last_name %>!</h1>
  <% if user_signed_in? %>
    <h3 class="card-title task-title">My ISVSP 2022 Participation</h3>
    <p class="card-text">Registered as: <%= @participation.kind.humanize%></p>
    <p class="card-text">Fee: <%= @participation.fee %></p>

    <%= link_to "Edit my conference participation type", edit_user_participation_path(@user, @participation.id), class: "btn btn-gray" %>
  <% end %>
</div>
