<div class="table-container p-4 bg-white">
  <h3 class="text-center">All users: <%= @users.count %></h3>
  <p class="text-center">
    <%= link_to 'Download as Excel', users_path(format: :xlsx)%>
  </p>
  <table class="table table-hover table-responsive-md text">
    <thead>
    <tr>
      <th scope="col">Prefix</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="text"><%= user.prefix %></td>
          <td class="text"><%= user.first_name %></td>
          <td class="text"><%= user.last_name %></td>
          <td class="text"><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
